<html  style="width: 100%; height: 100%">
<head>   
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <style type="text/css">
        html, body{
            padding: 0;
            margin: 0;
        }

        html, body, iframe{
            width: 100%;
            height: 100%;
        }

        body {
            font-size: 0;
        }

        * {
            -webkit-tap-highlight-color: rgba(0,0,0,0); /*Disable  the blinking effect */
            -moz-tap-highlight-color: rgba(0,0,0,0);
            -o-tap-highlight-color: rgba(0,0,0,0);
            -webkit-touch-callout: none;
            -moz-touch-callout: none;
            -o-touch-callout: none;
            -webkit-backface-visibility: hidden;
        }

        @media only screen and (max-width: 420px) {
            #notSupportedTitle {
                display: none;
            }
        }

    </style>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-45501303-17');
        ga('send', 'pageview', {page: '/fp/{{projectId}}', title: '{{projectName}}'});
    </script>
</head>
<body style="width: 100%; height: 100%; margin: 0" >
    <div id="player" style="width: 100%; height: 100%; background: black;"></div>
    <script type="text/javascript">
        window.InterludeLoader = 'standalone';
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.18/require.min.js" data-main="loader.js"></script>
</body>
</html>