<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{projectName}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:type" content='video.movie'/>
        <meta property="og:title" content="{{ogTitle}}"/> 
        <meta property="og:description" content="{{ogDescription}}"/> 
        <meta property="og:url" content="{{ogUrl}}"/> 
        <meta property="og:image" content="{{ogImage}}"/>
        <meta property="og:video:url" content="{{embedUrl}}"/>
        <meta property="og:video:secure_url" content="{{embedUrl}}"/>
        <meta property="og:video:type" content="text/html"/>
        <meta property="og:video:width" content="854"/>
        <meta property="og:video:height" content="480"/>
        <link rel="stylesheet" href="stylesheets/main.css"/>
        <link rel="alternate" type="application/json+oembed" href="{{oembedJSON}}" title="{{ogTitle}}">
        <link rel="alternate" type="text/xml+oembed" href="{{oembedXML}}" title="{{ogTitle}}">
        <!--script type="text/javascript">
            function onload() {
                window.location = '{{redirectUrl}}' + window.location.search;
            }
        </script-->
    </head>
    <!--body onload="onload();"-->
    <body>
        <p style="font-family: monospace; font-size: 2em;">
            Project Viewer // Interlude Boilerplate // {{projectName}}
        </p>
        <iframe id="player-iframe" src="embed.html" style="width: 854px; height:480px" allowfullscreen></div>
        <script>
            var loc = window.location.toString(),
            params = loc.split('?')[1],
            iframe = document.getElementById('player-iframe');
            iframe.src = iframe.src + '?' + params;
        </script>
    </body>
</html>
